.btn-primary {
    background-color: #407671 !important;
    border-color: #407671 !important;
}

@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@300&display=swap');

:root {
    --main-color: #0aad0a;
    --light-color: #f0f3f2;
    --shadow: rgba(145, 158, 171, .2) 0px 2px 4px -1px, rgba(145, 158, 171, .14) 0px 4px 5px 0px, rgba(145, 158, 171, .12) 0px 1px 10px 0px;
    --font-family: 'Encode Sans Expanded', sans-serif;
    --rating-color: #ffc908;
    --navbar-color: #DEF9EC;
    --text-color: #253D4E;

}

.bgnavbar {
    color: var(--text-color) !important;
    background-color: var(--navbar-color);
}

.txtsearchbar {
    color: var(--text-color) !important;
}