/* Tabs Navigation */
.tabnav {
  border-bottom: 1px solid #ADADAD;
}


.navitem {
  display: inline-block;
  border:solid;
  border-radius: 0;
  padding: 0.5rem 1rem;
  margin-right: 2px;
  border-color: #dee2e6 #dee2e6 #fff;
}



.articlenavlink {
  text-decoration: none !important;
  color: #666666;
}
.articlenavlink:active{
  color: red;
  
}

/* Tab Content */
.tabcontent {
  border-top: 0;
  padding: 20px;
}

.tab-pane {
  display: none;
}

.tab-pane .active {
  display: block;
}
.ratio-16x9 {
  border-radius: 10px;
}

.customcard:hover{
  border: 1px solid;
  border-color: green;
}

