.colorPrim{
    color: #253D4E !important;;
}
.colorSec{
    color: #407671 !important;
}
.linethrough {
    display: flex;
    align-items: center;
  }
  
  .line {
    flex: 1;
    height: 2px;
    background-color: #ccc;
  }
  
  .word {
    padding: 0 10px;
    color: #555;
  }
  .customWidth90 {
    width: 90% !important;
  }
  .footerLine {
    border-top: 2px solid #407671;
    position: fixed;
    bottom: 4%;
    width: 100%;
    color: white;
  }
  .wrapper{
    position: absolute;
    top: 45%;
    transform: translate(0, -50%);
    left: 12%;
  }
  .image{
    position: absolute;
    top: 63%;
    transform: translate(0, -50%);
    left: 54%;
  }